<p>
    Would you like to make sure your important opinion about the newest world happenings is known to every single
    user of Screecher? Then <a href="{% url 'screech:index' %}">screech</a> them to the world! You can also
    ReScreech&trade; and comment other people's posts to start conversations with them!
    Or do you simply want to make sure you have all the important information that you always need to have at hand
    collected at one place (such as your credit card information)?
    Then try doing a <a href="{% url 'screech:private' %}">private Screech</a> which only you can see!
</p>
