<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link href="{% static 'css/error.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Screecher Error Page</title>
</head>
<body>
<div class="error-box">
    <div class="error-header">
        <div>
            <img class="logo" src="{% static 'img/screecher.png' %}">
        </div>
        <div>
            <h1 class="error">ERROR CODE</h1>
            <h1 class="error-code">{{ status }}</h1>
        </div>
    </div>
    <div class="error-body">
        {{ reason|linebreaksbr }}
    </div>
    <div>
        <a href="{% url 'index' %}" class="btn btn-screecher">
            Back to Screecher
        </a>
    </div>
</div>
</body>
</html>