<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <title>Screecher - Landing</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/landing.css' %}" rel="stylesheet">
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<!-- Login View -->
<div class="container login-dialog" id="login">
    <div class="card bg-light text-dark">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img class="login-ico" src="{% static 'img/screecher.png' %}">
                </div>
                <div class="col-10">
                    <h1>Screecher</h1>
                </div>
            </div>
            <hr>
            <form action="{% url 'accounts:login' %}" method="post">
                <div class="form-group">
                    <label for="user">Username:</label>
                    <input type="text" class="form-control" id="login_user" name="user">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="login_pwd" name="pwd">
                </div>
                <input type="hidden" class="timezone" name="timezone" value="">
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <br>
                <div class="btn-group" style="float:right;">
                    <button type="button" class="btn btn-screecher">Register</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Registration View -->
<div class="container register-dialog" id="register" style="display: none">
    <div class="card bg-light text-dark">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img class="login-ico" src="{% static 'img/screecher.png' %}">
                </div>
                <div class="col-10">
                    <h1>Screecher</h1>
                </div>
            </div>
            <hr>
            <form action="{% url 'accounts:signup' %}" method="post">
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="user">Username:</label>
                    <input type="text" class="form-control" id="user" name="user" required>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" minlength="8" required>
                </div>
                <div class="form-group">
                    <label for="pwd_verifier">Password (again):</label>
                    <input type="password" class="form-control" id="pwd_verifier" name="pwd_verifier" required>
                </div>
                <input type="hidden" class="timezone" name="timezone" value="">
                <br>
                <div class="btn-group" style="float:right;">
                    <button type="submit" class="btn btn-primary">Register</button>
                    <button type="button" class="btn btn-screecher">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.screecher.de/assets/jquery-3.5.0.min.js"
        integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write("<script src=\"{% static 'vendor/jquery/jquery.min.js' %}\"><\/script>")</script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/landing_utils.js' %}"></script>
</body>
</html>
