<p>
    There are a lot of interesting individuals on Screecher. Wouldn't it be great if you could befriend them and stay in
    touch with them? Then wait no longer, for now we have granted you this amazing ability! You can now send
    <a href="{% url 'friends:requests' %}">friend requests</a> to the people you like! Once they accept, you and your
    fellow <i>Screecher</i> will be friends and you will be displayed on each other's very own
    <a href="{% url 'friends:index' %}">friends list</a>!
</p>