<p>Your friends:
    Maybe there are things which you don't want to share with everyone but only with some special chosen
    <i>Screechers</i>. Then now you have the ability to do so: You can <a href="{% url 'message:outbox' %}">send
    private messages</a> to other <i>Screechers</i> from now on! Sharing your secret ideas, expressing your love or
    simply communicating in secret - all of this is possible now! Of course, other <i>Screechers</i> can send messages
    to you as well. View the ones that were sent to you in your <a href="{% url 'message:index' %}">inbox</a>.
</p>